# System Packages
systemctl
sudo
net-tools
locate
vim
curl
wget
lsb-release

# Cloud9
git
ruby
locales-all
tmux
nodejs
python2.7
build-essential
npm

# Docker
ca-certificates
gnupg
    
# App Specific